.mainSelectionButtons
{
	position: relative;
	height: 40px;
	left: -10px;
	top: -10px;
	background : linear-gradient(180deg, #00F0FF 0%, #000000 100%);
	border : 1px solid #000000;
	box-sizing : border-box;
	border-radius: 0px 0px 20px 20px;

	font-family: Eagle Lake;
	font-size: 15px;
	text-align: center;

	color: #FFFFFF;
    float : left;

}

HeaderImage
{
	position: absolute;
	width: 40%;
	right:10px;
	content: url(Header.png);
}

@font-face
{
    font-family: Eagle Lake;
    src: url('eaglelake-regular-webfont.woff2') format('woff2'),
         url('eaglelake-regular-webfont.woff') format('woff');
}

