subheading 
{
	color:#FFFFFF;
	font-size:20px;
	font-family:Eagle Lake;
	position:fixed;
}

body
{
	background-color:#000000;
}

@font-face {
    font-family: Eagle Lake;
    src: url('eaglelake-regular-webfont.woff2') format('woff2'),
         url('eaglelake-regular-webfont.woff') format('woff');

}

.mainSelectionButton
{
	font-family: Eagle Lake;
	font-size: 2vh;
	text-align : center;
	color: #FFFFFF; 
	height: 7vh;
	position: relative;
	top:-10px;
	left:-10px;
	padding-left:1vh;
	padding-right:1vh;
	background: linear-gradient(180deg, #0AAAB5 0%, #000000 100%);
	border: 0.1vh solid #000000;
	box-sizing: border-box;
	border-radius: 0% 0% 20px 20px; 
	float : left;
}

.ToggleTraitButton
{ 
	position:absolute;
	background: linear-gradient(180deg, #72C0B5 0%, #000000 100%);
	top: calc(1vw + 35px);
	border:none;
	width:11vw;
}

.mainSelectionButton:hover
{
	height:10vh;
	background: linear-gradient(180deg, #00F0FF 0%, #000000 100%);
}

.mainSelectionButton:focus
{
	height:10vh;
	background: linear-gradient(180deg, #00F0FF 0%, #000000 100%);
}

.ToggleTraitButton:hover
{
	height:10vh;
	background:linear-gradient(180deg, #72C0B5 0%, #000000 100%);
}

.ToggleTraitButton:focus
{
	height:10vh;
	background:linear-gradient(180deg, #72C0B5 0%, #000000 100%);
}

.divImage
{
	content:url("Header.png");
	position : absolute; 
	width:40vw;
	right:5%;
}