:root {
    --color-light: #cccccc;
    --color-mid: #3b3b3b;
    --color-dark: #000000;
    --pink:#e6ae9f;
  }
  #wrapper {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
  }

  .iconDiv {
    height: 36px;
    width: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4px;
    padding: 4px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
  }
  .iconSVG {
    height: 30px;
    aspect-ratio: 1 / 1;
  }
  .iconDiv:hover,
  .iconDiv:focus-visible {
    width: 142px;
    background-color: var(--color-mid);
    transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
  }
  .iconDiv:hover div svg{
    color: var(--pink);
  }
  .iconDiv div svg{
    color: var(--color-light);
  }
  .iconDiv:focus-visible {
    outline: 1px solid var(--color-mid);
    outline-offset: 4px;
  }
  .iconDiv:active {
    opacity: 0.9;
  }
  .iconDiv::after {
    content: attr(tooltip);
    margin-left: 12px;
    animation: fadeIn 600ms linear forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  