:root {
    --lightergray: #cccccc;
    --lightgray:#b6b6b6;
    --gray:#3b3b3b;
    --black: #000000;
    --white:#ffffff;
    --pink:#e6ae9f;
  }
.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
}
.timeline__event {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 6px;
    align-self: center;
    width: 50vw;
    /* border-width: 0px 3px 0px 0px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(0, 0, 0), 
      rgba(255, 255, 255),
      rgb(0, 0, 0)
    ) 1 100%; */
}
.timeline__event:nth-child(2n + 1) {
    /* border-width: 0px 0px 0px 3px; */
    flex-direction: row-reverse;
}
.timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0 6px 6px 0;
}
.timeline__event:nth-child(2n + 1) .timeline__event__content {
    border-radius: 6px 0 0 6px;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background:var(--pink);
    position: absolute;
    top: 0%;
    left: 50%;
    right: auto;
    z-index: -1;
    transform: translateX(-50%);
    animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--pink);
    position: absolute;
    right: 0;
    z-index: -1;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    animation: fillLeft 2s forwards 4s ease-in-out;
}
.timeline__event__title {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--lightergray);
    letter-spacing: 1.5px;
}
.timeline__event__subtitle {
    font-size: 1rem;
  padding-left:20px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--pink);
    letter-spacing: 1.5px;
    padding-bottom: 8px;
    padding-top:20px ;
}
.timeline__event__content {
    padding: 20px;
    background: var(--black);
    width:100%;
    border-radius: 0 6px 6px 0;
}
.timeline__event__date {
    color: var(--pink);
    font-size: 1.5rem;
    font-weight: 600;
    /*https://10015.io/tools/css-background-pattern-generator*/
    background:
      conic-gradient(from 75deg,rgba(51,51,51,0.48)   15deg ,rgba(0, 0, 0, 0.48) 0 30deg ,#0000 0 180deg, rgba(0, 0, 0, 0.48) 0 195deg,rgba(51,51,51,0.48) 0 210deg,#0000 0) calc(0.5*31px) calc(0.5*31px/0.577),
      conic-gradient(rgba(51,51,51,0.48)   30deg ,rgba(102,102,102,0.48) 0 75deg, rgba(51,51,51,0.48) 0 90deg, rgba(0, 0, 0, 0.48) 0 105deg, rgba(102,102,102,0.48) 0 150deg, rgba(0, 0, 0, 0.48) 0 180deg,rgba(102,102,102,0.48) 0 210deg, rgba(51,51,51,0.48) 0 256deg, rgba(0, 0, 0, 0.48) 0 270deg,rgba(51,51,51,0.48) 0 286deg, rgba(0, 0, 0, 0.48) 0 331deg,rgba(102,102,102,0.48) 0);
    background-size: 31px calc(31px/0.577);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 20px;
    border-radius: 6px 0 0 6px;
    border: 4px solid var(--black);
}
.timeline__event__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2e2e2e;
    padding: 20px;
    align-self: center;
    margin: 0 20px;
    background: #00000000;
    border-radius: 100%;
    width: 40px;
    padding: 40px;
    height: 40px;
    position: relative;
}
.timeline__event__icon i {
    font-size: 32px;
}
.timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: var(--pink);
    position: absolute;
    top: 0%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--pink);
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    animation: fillLeftOdd 2s forwards 4s ease-in-out;
}
.timeline__event__description {
    flex-basis: 60%;
    color: var(--lightgray);
    line-height: 1.2;
}
.timeline__event__description a{
    color: var(--lightgray);
    text-decoration: underline;
}
.timeline__event__description p{
    color: var(--lightgray); 
}
.timeline__event:last-child .timeline__event__icon:before {
    content: none;
}
@media (max-width: 786px) {
    .timeline__event {
        flex-direction: column;
        align-self: center;
   }
    .timeline__event__content {
        width: 100%;
   }
    .timeline__event__icon {
        border-radius: 6px 6px 0 0;
        width: 100%;
        margin: 0;
        box-shadow: none;
   }
    .timeline__event__icon:before, .timeline__event__icon:after {
        display: none;
   }
    .timeline__event__date {
        border-radius: 0;
        padding: 20px;
   }
    .timeline__event:nth-child(2n + 1) {
        flex-direction: column;
        align-self: center;
   }
    .timeline__event:nth-child(2n + 1) .timeline__event__date {
        border-radius: 0;
        padding: 20px;
   }
    .timeline__event:nth-child(2n + 1) .timeline__event__icon {
        border-radius: 6px 6px 0 0;
        margin: 0;
   }
}
@keyframes fillLeft {
    100% {
        right: 100%;
   }
}
@keyframes fillTop {
    100% {
        top: 100%;
   }
}
@keyframes fillLeftOdd {
    100% {
        left: 100%;
   }
}




@media screen and (max-width: 845px) {
    .timeline__event {
        margin-bottom: 10px;
        width: 85vw;
    }
    .timeline__event__icon {
        padding: 10px;
        align-self: center;
        margin: 0 20px;
        height: 40px;
       
    }
   .timeline__event__date {
        border-radius: 0;
        padding: 10px;
        font-size: 1.25rem;
   }
}